header 
{
    background-color: var(--mon-green-1);
    height: 64px !important;
}

header > div
{
    width: fit-content;
}

header a
{
    color: white;
}

.plp-logo img
{
    height: 36px;
    width: 36px;
}

.hamburger
{
    cursor: pointer;
}

marquee 
{
    height: fit-content;
    font-size: var(--body-small);
    background-color: var(--mon-green-3);
    color: white;
}