@import url("/css/root.css");
@import url("/css/component/header.css");
@import url("/css/component/nav_bar.css");

body, .header
{
    background-color: white;
}

main
{
    height: calc(100dvh - 50px);
}

.filter-btn svg 
{
    transition: all 0.15s ease-in-out;
}

.filter-btn:hover svg
{
    fill: white;
}

.search-bar-btn svg 
{
    transition: all 0.15s ease-in-out;
}

.search-bar-btn:hover svg 
{
    fill: white;
}

.table-limiter
{
    overflow-y: scroll;
    flex: 1;
}

.scholars-table
{
    width: 100%;
    margin-bottom: 0 !important;
}

.scholars-table-body
{
    height: max-content;
    overflow: auto;
}

.scholars-table-body tr
{
    vertical-align: middle;
    width: 100%;
}

.entry-number
{
    background-color: var(--bs-success);
    color: white;
}