<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/student_portal/css/notifications.css'>
</head>
<body>
    <div class='position-sticky top-0 header shadow-sm'>
        <div class='px-4 py-2 shadow-sm'>
            <h3>Notifications</h3>
        </div>
        <hr>
    </div>
    <main class='p-4 w-100 pb-4 d-flex flex-fill flex-column position-fixed'>
        <div class='h-100 w-100 overflow-scroll'>
            <div class='d-flex flex-column w-100 notification-chips-wrapper gap-4'></div>
        </div>
    </main>

    <script type='text/javascript' src='/vendor/bootstrap.bundle.min.js'></script>
    <script type='module' src='/student_portal/js/notifications.js'></script>
</body>
</html>