<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel='stylesheet' href='/student_portal/css/scholarship_app.css'>
</head>
<body>
    <div class='position-sticky top-0 header shadow-sm'>
        <div class='px-4 py-2 shadow-sm d-flex justify-content-between align-items-center'>
            <h3>Scholarships</h3>
            <strong class='gwa-holder'></strong>
        </div>
        <hr>
    </div>
    <main class='p-4 flex w-100 d-flex flex-column overflow-scroll position-fixed'>
        <div class='scholarship-card-wrapper gap-4 d-flex justify-content-center align-items-center flex-wrap'></div>
    </main>

    <script type='text/javascript' src='/vendor/bootstrap.bundle.min.js'></script>
    <script type='module' src='/student_portal/js/scholarship_app.js'></script>
</body>
</html>