@import url("/css/bundle.css");

body, .header 
{
    background-color: white;
}

main
{
    height: calc(100dvh - 50px);
}

.breadcrumb > li > a
{
    text-decoration: none;
    font-weight: 700;
    color: var(--mon-green-4);
}

.breadcrumb > li > a:hover
{
    text-decoration: underline;
}

.section-list {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden !important;
}

.section-list section {
    flex-shrink: 0;
    scroll-snap-align: start;   
    display: flex;
}

.inp-gr
{
    flex-basis: 0 !important;
}